# Node
node_modules/

# Environment variables
.env

# Log files
*.log

# IDE garbage
.DS_Store
.vscode/

# ML
bird_resnet18.pth
Backend/hackathon.wics/src/main/resources/possible-byte-437704-m6-4323b7961059.json
